.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:2rem;
}
.container textarea{
    width: 290px;
    height: 10vh;
    padding: 10px;
}
.container button{
    width: 120px;
    height: 6vh;
}